<a href="https://colab.research.google.com/github/quynh02022000/Traffic/blob/main/code/segment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
df_segment = pd.read_csv("https://raw.githubusercontent.com/quynh02022000/Traffic/main/data/segment_status.csv")
df_segment.head(14)

          _id        long        lat
0   366367223  106.629056  10.804243
1   366367233  106.709701  10.771110
2   366367242  106.737189  10.709337
3   366367274  106.760081  10.854489
4   366367285  106.721163  10.804994
5   366367319  106.618552  10.790438
6   366367322  106.657136  10.799155
7   366367330  106.564926  10.846947
8   366367338  106.632575  10.723753
9   366367340  106.714288  10.803099
10  366367342  106.706294  10.764703
11  366367364  106.552339  10.786808
12  366367367  106.732437  10.813809
13  366367369  106.637838  10.859728