<a href="https://colab.research.google.com/github/quynh02022000/Traffic/blob/main/code/street.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
df_street = pd.read_csv('https://raw.githubusercontent.com/quynh02022000/Traffic/main/data/streets.csv')
df_street.head(14)

         _id  level  max_velocity                    name          type
0   31096786      1          80.0               Quốc Lộ 1         trunk
1   32575737      4           NaN                     NaN  unclassified
2   32575794      4           NaN              Chu Văn An  unclassified
3   32575820      4           NaN           Nguyễn Văn Bá      tertiary
4   32575823      4           NaN          Nguyễn Thị Nhỏ      tertiary
5   32575862      3           NaN              Đường số 5     secondary
6   32575864      3          40.0           Châu Văn Liêm     secondary
7   32575869      4           NaN            Lê Văn Thịnh  unclassified
8   32575874      4           NaN                     NaN  unclassified
9   32575935      3           NaN                 Tân Phú  primary_link
10  32575943      4           NaN            Lê Minh Xuân      tertiary
11  32575944      4           NaN                 Phú Hòa  unclassified
12  32575966      3           NaN            Lê Văn Lương     secondary
13  32575968      4           NaN  An Phú Tây - Hưng Long      tertiary